@model App.ViewModels.UserIndex
@{
    ViewBag.Titlte = "Trang chủ";
    Layout = "~/Views/User/_UserLayout.cshtml";
}

<div class="container-fluid section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="section__title">SÁCH MỚI CỦA BOOKSTORE</h1>
                <div class="product-carousel">

                    <div class="row">
                        @foreach (var item in Model.Books)
                        {
                            <div class="col-3 product">
                                <div class="single-product">
                                    @if (item.Saleoff != 0)
                                    {
                                        <p class="mrg0 iblck fl product__saleoff">-@item.Saleoff%</p>
                                    }
                                    <p class="mrg0 iblck fr product__views">
                                        <i class="fas fa-heart"></i> @item.NLove
                                        <i class="fas fa-eye"></i> @item.NSeen
                                    </p>
                                    <div class="product-f-image">
                                        <img src="~/uploads/@item.Cover" class="product__image" alt="" />
                                    </div>

                                    <div class="product__info ">
                                        <a asp-controller="Home" asp-action="BookDetail" asp-route-id="@item.Id" class="mrg0 product__name" style="color:red">@item.Title</a>
                                        @if (item.Saleoff != 0)
                                        {
                                            <p class="mrg0 product__oldprice" style="color:black">@String.Format("{0:0,0 VNĐ}", item.Price) </p>
                                            <p class="mrg0 product__newprice" style="color:green">@String.Format("{0:0,0 VNĐ}", item.Price - item.Price * item.Saleoff / 100)</p>
                                        }
                                        else
                                        {
                                            <p class="mrg0 product__newprice" style="color:black">@String.Format("{0:0,0 VNĐ}", item.Price)</p>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
        
                    <div class="container txt-center">
                        <a href="/products/orderbydatecreate" class="section__seemore">Xem thêm</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- end of section Sản phẩm mới -->


